---
layout: default
search: true
---

<div class="vertical">
<div class="posts">
{% for post in paginator.posts %}
	<article class="post">

		<p class="comment-count-wrapper">
			{% if site.data.comments[post.slug] %}
				<a class="comment-count half-entry" href="{{ site.url }}{{ post.url }}#comments">덧글 {{ site.data.comments[post.slug] | size }}개</a>
			{% endif %}
		</p>
		
		<h1><a href="{{ site.baseurl }}{{ post.url }}#main" class="half-entry">{{ post.title }}</a></h1>

		<div class="punc-entry half-entry hanja-entry">
			{{ post.content | strip_html | truncatewords:15, "…" }}
		</div>

		<a href="{{ site.baseurl }}{{ post.url }}#main" class="read-more">읽기</a>
	</article>
	{% endfor %}
</div>

  <ul class="pagination cf">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <li><a href="/" class="hanja-entry">前</a></li>
      {% else %}
      <li><a href="/page{{ paginator.previous_page }}">Prev</a></li>
      {% endif %}
    {% else %}
    <li><span class="disabled hanja-entry">前</span></li>
    {% endif %}
    {% if paginator.page == 1 %}
    <li><span class="active half-entry">1</span></li>
    {% else %}
    <li><a href="/" class="half-entry">1</a></li>
    {% endif %}
    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <li><span class="active half-entry">{{ count }}</span></li>
      {% else %}
      <li><a href="/page{{ count }}" class="half-entry">{{ count }}</a></li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
    <li><a href="/page{{ paginator.next_page }}" class="hanja-entry">後</a></li>
    {% else %}
    <li><span class="disabled hanja-entry">後</span></li>
    {% endif %}
  </ul>
</div>