{% if page.comments %}
<div class="comments staticman-comments" id="comments">
	<div class="comments-list">
		{% if site.data.comments[page.slug] %}
			{% assign comments = site.data.comments[page.slug] | sort %}
			{% for comment in comments %}
				<article id="comment{{ forloop.index }}" class="comment">
					<div class="comment-content">
						<h3 class="comment-author half-entry">
							{% if comment[1].url %}
								<a rel="nofollow" href="//{{ comment[1].url }}">{{ comment[1].name }}</a>
							{% else %}
								{{ comment[1].name }}
							{% endif %}
						</h3>
						<div class="comment-body punc-entry half-entry hanja-entry">
							{{ comment[1].message | markdownify }}
						</div>
						<p class="comment-date half-entry">
							{% if comment[1].date %}
								{% if forloop.index %}<a href="#comment{{ forloop.index }}">{% endif %}
								{{ comment[1].date | date: "%Y. %m. %d. %H:%M" }}
								{% if forloop.index %}</a>{% endif %}
							{% endif %}
						</p>
					</div>
				</article>
			{% endfor %}
		{% endif %}
	</div>
</div>
<div class="comment-write no-vertical" style="width: auto;">
	<form method="post" action="https://api.staticman.net/v2/entry/Lee0701/lee0701.github.io/master/comments" class="comment-write-form">
		<input name="options[redirect]" type="hidden" value="{{site.url}}{{ page.url }}">
		<input name="options[slug]" type="hidden" value="{{ page.slug }}">
		<p><label class="comment-form-label">이름</label><input name="fields[name]" class="comment-name" type="text" id="comment-name"></p>
		<p><label class="comment-form-label">주소</label><input name="fields[url]" class="comment-url" type="text"></p>
		<p><label class="comment-form-label">전자메일</label><input name="fields[email]" class="comment-email" type="email" id="comment-email"></p>
		<p><label class="comment-form-label">내용</label><textarea name="fields[message]" class="comment-content" id="comment-content"></textarea></p>
		
		<button type="submit" id="comment-submit" onclick="return registerComment();" class="comment-form-submit" id="comment-submit">등록</button>
	</form>
</div>
{% endif %}
