
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$sans: 'Open Sans', arial, 'Apple SD Gothic Neo', 'Noto Sans CJK KR', '본고딕', '나눔바른고딕', '나눔고딕', 'Malgun Gothic', sans-serif;
$serif: '나눔명조', 'Nanum Myeongjo', 'HanaMinA', 'HanaMinB', 'Noto Serif CJK JP', 'Noto Serif CJK KR', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
