---
layout: default
---

<div class="vertical">
<article class="post">
	{% include hanja.html %}
	<h1 class="half-entry">{{ page.title }}</h1>

	<div class="punc-entry half-entry hanja-entry">
		{{ content }}
	</div>
	
	<ul class="tags post-tags cf">
		{% for tag in page.tags %}
		<li><a href="/search?query=tags::{{ tag }}" class="half-entry">{{ tag | downcase }}</a></li>
		{% endfor %}
	</ul>
	
	<div class="date half-entry">
		작성일자: {{ page.date | date: "%Y. %m. %d." }}
	</div>
	
	{% include share.html %}
	
	{% include staticman.html %}
</article>
</div>
